

#header{text-align: right;background-color:black;color:white;padding:10px;}


#grid{padding:20px;}


#menu_buttons{padding:20px;width:100%;}

#nav{padding: 10px;background-color: gray;text-align: center;}

#nav button{padding:5px;border:2px solid black;}